<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/soot-infoflow-android/src/soot/jimple/infoflow/android/TestApps/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/home/hari/flowdroid/flowdroid_output.txt"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="soot.jimple.infoflow.android.TestApps.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/hari/android-security-apps/FlowdroidTests/bin/FlowdroidTests.apk /home/hari/bin/android-sdk-linux/platforms -layoutmode none -Dorg.slf4j.simpleLogger.defaultLogLevel=debug"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="soot-infoflow-android"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
